
  
  <mat-toolbar color="primary" class="mat-elevation-z10">
    <span style="margin-right: 20.0px;"> <mat-icon style="margin-left: 8.0px;">person</mat-icon>Student App</span>

    <a mat-raised-button color="accent" style="margin-right: 80.0px;" routerLink="home">Home</a>
    <a mat-raised-button color="accent" style="margin-right: 8.0px;" routerLink="list">Student List</a>
    <a mat-raised-button color="accent" click="OpenDialog()" style="margin-right: 8.0px;" routerLink="add">Add Student</a>

 
  </mat-toolbar>


  <router-outlet></router-outlet>





